<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  
  </head>
  <body>
    <h1>Weather at this city: {{location}}</h1>
    <p>Current temp: {{temperature}}</p>
    <p>Change of precipitation: {{precip}}</p>
    <p>Current conditions: {{condition_description}}</p>
  </body>
</html>
